<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2023 Paranoid Android

     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiaomi.settings"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" />

    <application
        android:label="@string/app_name"
        android:persistent="true"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true">

        <receiver
            android:name=".BootCompletedReceiver"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".display.ColorService"
            android:exported="false">
        </service>

        <!-- GameBar Overlay -->
        <activity
            android:name=".gamebar.GameBarSettingsActivity"
            android:label="@string/game_bar_title"
            android:theme="@style/Theme.SubSettingsBase"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.apps" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/game_bar_summary" />
        </activity>

        <!-- GameBar AppSelector -->
        <activity android:name=".gamebar.GameBarAppSelectorActivity" />
        <activity android:name=".gamebar.GameBarAppRemoverActivity" />

        <!-- GameBar Overlay Tile Service -->
        <service
            android:name=".gamebar.GameBarTileService"
            android:label="@string/game_bar_tile_label"
            android:icon="@drawable/ic_gamebar"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <!-- GameBar Overlay Monitor Service -->
        <service
            android:name=".gamebar.GameBarMonitorService"
            android:exported="false" />

        <!-- GameBar BootReceiver -->
        <receiver
            android:name=".gamebar.GameBarBootReceiver"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
             </intent-filter>
        </receiver>

        <!-- Activity for Touch Sampling Settings -->
        <activity
            android:name=".touchsampling.TouchSamplingSettingsActivity"
            android:label="@string/htsr_enable_title"
            android:theme="@style/Theme.SubSettingsBase"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/htsr_enable_summary" />
        </activity>

        <!-- Service for managing Touch Sampling -->
        <service
            android:name=".touchsampling.TouchSamplingService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />
    </application>
</manifest>
