on early-init
    write /proc/sys/kernel/sched_pelt_multiplier 1

on init
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-7

    # fs
    write /sys/block/mmcblk0/queue/nr_requests 64
    write /sys/block/sda/queue/nr_requests 64
    write /sys/block/sdb/queue/nr_requests 64
    write /sys/block/sdc/queue/nr_requests 64
    write /sys/block/mmcblk0/queue/nr_requests 64

    # Disable printk logging
    write /proc/sys/kernel/printk_devkmsg off

    # Set teo as cpu idle governor
    write /sys/devices/system/cpu/cpuidle/current_governor teo

    # Boot time tuning
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "performance"
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor "performance"
    write /sys/devices/system/cpu/cpufreq/policy7/scaling_governor "performance"

on post-fs-data
    chown system system /proc/touch_boost/enable
    chmod 0660 /proc/touch_boost/enable
    chown system system /proc/touch_boost/gas_for_ta
    chmod 0660 /proc/touch_boost/gas_for_ta
    chown system system /proc/touch_boost/gas_threshold_for_ta
    chmod 0660 /proc/touch_boost/gas_threshold_for_ta
    chown system system /proc/touch_boost/boost_opp_cluster_0
    chmod 0660 /proc/touch_boost/boost_opp_cluster_0
    chown system system /proc/touch_boost/boost_opp_cluster_1
    chmod 0660 /proc/touch_boost/boost_opp_cluster_1
    chown system system /proc/touch_boost/boost_opp_cluster_2
    chmod 0660 /proc/touch_boost/boost_opp_cluster_2
    chown system system /proc/touch_boost/boost_duration
    chmod 0660 /proc/touch_boost/boost_duration
    chown system system /proc/touch_boost/active_time
    chmod 0660 /proc/touch_boost/active_time
    chown system system /proc/touch_boost/boost_ta
    chmod 0660 /proc/touch_boost/boost_ta
    chown system system /proc/touch_boost/boost_fg
    chmod 0660 /proc/touch_boost/boost_fg
    chown system system /proc/touch_boost/idleprefer_ta
    chmod 0660 /proc/touch_boost/idleprefer_ta
    chown system system /proc/touch_boost/idleprefer_fg
    chmod 0660 /proc/touch_boost/idleprefer_fg
    chown system system /proc/touch_boost/deboost_when_render
    chmod 0660 /proc/touch_boost/deboost_when_render
    chown system system /proc/touch_boost/force_stop_boost
    chmod 0660 /proc/touch_boost/force_stop_boost
    chown system system /proc/touch_boost/boost_up
    chmod 0660 /proc/touch_boost/boost_up
    chown system system /proc/touch_boost/boost_down
    chmod 0660 /proc/touch_boost/boost_down
    chown system system /sys/devices/platform/mtk-tpd2.0/change_rate
    chmod 0664 /sys/devices/platform/mtk-tpd2.0/change_rate

service batterysecret /vendor/bin/batterysecret
    class last_start
    user root
    group system system wakelock
    disabled

on property:sys.boot_completed=1
    # End boot time tuning
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/policy7/scaling_governor "schedutil"

    # Adjust watermark level
    write /proc/sys/vm/watermark_scale_factor 200

    chmod 0664 /sys/class/Charging_Adapter/pd_adapter/usbpd_verifed
    chmod 0664 /sys/class/Charging_Adapter/pd_adapter/request_vdm_cmd
    chmod 0664 /sys/class/Charging_Adapter/pd_adapter/verify_process
    chmod 0664 /sys/class/power_supply/usb/pd_authentication
    start batterysecret

on charger
    chmod 0664 /sys/class/Charging_Adapter/pd_adapter/usbpd_verifed
    chmod 0664 /sys/class/Charging_Adapter/pd_adapter/request_vdm_cmd
    chmod 0664 /sys/class/Charging_Adapter/pd_adapter/verify_process
    chmod 0664 /sys/class/power_supply/usb/pd_authentication
    start batterysecret

service vendor.hwcomposer /vendor/bin/hw/android.hardware.graphics.composer@3.3-service
    override
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles ProcessCapacityHigh HighPerformance
